doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
        link(rel="stylesheet", href="styles/main.css")
        link(rel="stylesheet", href="styles/signin.css")
    body
        script(src="https://accounts.google.com/gsi/client" async defer) 
        .signin-container
            .main-form
                .signin-header
                    h1 Tiny TimeZones 
                    h2.subtitle Handle time notion with teams around the world
                .signin-options
                    .google-signin
                        #g_id_onload(
                            data-client_id= googleId
                            data-login_uri= domain + '/api/auth/google'
                            data-auto_prompt='false'
                        )
                        .g_id_signin(
                            data-type='standard'
                            data-size='large'
                            data-theme='outline'
                            data-text='sign_in_with'
                            data-shape='rectangular'
                            data-logo_alignment='left'
                        )
                    p or
                    a(href= domain + "/app?isGuest=true")
                        button.guest-signin  Try as guest
        footer.common-footer 
            p 
                span &copy; 2021. Designed &amp; Developed By 
                    a(href=author.website).author-url= author.name
                a(href=author.github)
                    img(src="/assets/github-white.svg", alt="My GitHub")
                a(href=author.twitter) 
                    img(src="/assets/twitter-white.svg", alt="My Twitter")
                a(href=author.linkedin) 
                    img(src="/assets/linkedin-white.svg", alt="My LinkedIn")
                a(href=author.sourceUrl) Source